.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.212));
}
.itemCard {
  background-color: #4f888a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100px;
  width: 100px;
}
.itemName {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: x-small;
  text-align: center;
  width: 100px;
}
