@font-face {
  font-family: "FinkHeavy";
  font-weight: 900;
  font-style: normal;
  src: url(fonts/AC.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #1f1d36;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.nav-list {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
.nav-list .list-item {
  display: block;
  padding: 10px;
  border: 1px solid white;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar a:hover {
  color: #6ba32d;
}
.logo {
  width: 100%;
}
.primary-logo {
  width: 100px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  background-color: #1f1d36;
}
.menu-line {
  width: 40px;
  height: 5px;
  background-color: white;
  margin-bottom: 4px;
  border-radius: 1px;
}
.menu {
  display: none;
}
@media all and (max-width: 480px) {
  .nav-list {
    display: none;
  }
  .navbar {
    flex-direction: column;
  }
  .menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
  }
  .primary-logo {
    margin-top: 10px;
    margin-left: 10px;
  }
  .active {
    display: block;
  }
}
#logo {
  min-width: 10em;
  max-width: 10em;
}
#insect {
  text-decoration: none;
  color: white;
  font-size: 2em;
  margin: 20px;
  cursor: pointer;
}
#fish {
  text-decoration: none;
  color: white;
  font-size: 2em;
  margin: 20px;
  cursor: pointer;
}

#collection {
  background-color: #6ba32d;
  margin: 20px;
  border-radius: 10px;
  width: 80px;
  left: 90vw;
  position: fixed;
  text-align: right;
}
.icons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
  margin-left: 10%;
  margin-right: 10%;
}

.fish-item {
  display: flex;
  justify-content: center;
  border: 4px solid #6ba32d;
  background-color: #96cc39;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #96cc39, #a7e074);
}
.fish-blur {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(255, 255, 255, 0.363);
  overflow: hidden;
}
.x-mark {
  display: flex;
  justify-content: right;
  padding: 20px;
}
.fish-info-container {
  background-color: #96cc39;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 50%;
  border-radius: 10px;
  margin-top: 40px;
  border: 10px;
  border-style: solid;
  border-color: #c48d3f;
}
.fish-title {
  text-transform: capitalize;
  align-items: center;
  text-align: center;
  font-family: FinkHeavy;
  font-size: 60px;
}
#fish-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.fish-name-plate {
  position: fixed;
  background-color: aliceblue;
  border-radius: 4px;
  padding: 2px;
  text-transform: capitalize;
  font: FinkHeavy;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  margin-top: 5px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
#month-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
  margin-left: 10%;
  margin-right: 10%;
  border: 3px solid black;
  border-radius: 4px;
  font: FinkHeavy;
}
#months {
  border: 1px solid black;
  text-align: center;
  background-color: bisque;
  font: FinkHeavy;
}
.location-wrapper {
  text-align: center;
  font: FinkHeavy;
}
#location-header {
  font: FinkHeavy;
}
.price-wrapper {
  text-align: center;
}
