.fish-icons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
}

.fish-item {
  display: flex;
  justify-content: center;
  border: 4px solid #6ba32d;
  background-color: #96cc39;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #96cc39, #a7e074);
}
.fish-blur {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(255, 255, 255, 0.363);
  overflow: hidden;
}
.x-mark {
  display: flex;
  justify-content: right;
  padding: 20px;
}
