@font-face {
  font-family: AC;
  src: url("fonts/AC.ttf");
}
#collection {
  background-color: #6ba32d;
  margin: 20px;
  border-radius: 10px;
  width: 80px;
  left: 90vw;
  position: fixed;
  text-align: right;
}
.fish-icons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
  margin-left: 10%;
  margin-right: 10%;
}

.fish-item {
  display: flex;
  justify-content: center;
  border: 4px solid #6ba32d;
  background-color: #96cc39;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #96cc39, #a7e074);
}
.fish-blur {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(255, 255, 255, 0.363);
  overflow: hidden;
}
.x-mark {
  display: flex;
  justify-content: right;
  padding: 20px;
}
.fish-info-container {
  background-color: #96cc39;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 50%;
  border-radius: 10px;
  margin-top: 40px;
  border: 10px;
  border-style: solid;
  border-color: #c48d3f;
}
.fish-title {
  text-transform: capitalize;
  align-items: center;
  text-align: center;
  font-family: AC;
  font-size: 60px;
}
#fish-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  box-shadow: 10px 10px;
}
.fish-name-plate {
  position: absolute;
  background-color: aliceblue;
}
