.creature-insect-item {
  display: flex;
  justify-content: center;
  border: 4px solid #6ba32d;
  background-color: #96cc39;
  border-radius: 10px;
  background-image: url('../img/creature-background/insect.png'),
    linear-gradient(180deg, #68b893, #a4d4a2);
  background-size: 100%;
  background-attachment: scroll;
  background-repeat: repeat-x repeat-y;
  font-family: Humming;
}
.creature-insect-item:hover #name-tag {
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 0.3s;
}
.creature-sea-item {
  display: flex;
  justify-content: center;
  background-color: #29746d;
  border-radius: 10px;
  background-image: url('../img/creature-background/fish.png'),
    linear-gradient(180deg, #592974, #199288);
  background-size: 25%;
  background-attachment: fixed;
  background-repeat: repeat-x repeat-y;
  font-family: Humming;
}
.creature-sea-item:hover #name-tag {
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 0.3s;
}
.creature-fish-item {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  /* background-image: url('../img/creature-background/fish.png'),
    linear-gradient(180deg, #017c74, #7cc9c3); */
  background-size: 25%;
  background-attachment: fixed;
  background-repeat: repeat-x repeat-y;
  font-family: Humming;
}
.creature-fish-item:hover #name-tag {
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 0.3s;
}
.creature-icon {
  max-width: 90px;
  padding: 1px;
}
#name-tag {
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  width: min-content;
  position: absolute;
  background-color: aliceblue;
  border-radius: 15px;
  text-transform: capitalize;
  font: Humming !important;
  font-size: 20px;
  margin-top: -20px;
  font-size: 15px;
  text-align: center;
  opacity: 0;
  animation-fill-mode: forwards;
}

.visible{
  animation-fill-mode: forwards;
}
.fade-out {
  animation-name: fade-out;
  animation-duration: .1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  35%{
    opacity: 1;
    transform: scale(1.3); 
  }
  50% {
    opacity: 1;
    transform: scale(1); 
  }
  75%{
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(0); 

  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  35%{
    opacity: 1;
    transform: scale(1.2); 
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1); 

  }
}

/* Media block to stop hover event from firing on mobile devices */
@media (hover: none) {
  .creature-fish-item:hover #name-tag {
    visibility: hidden;
  }
}
