.background-blur {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.363);
  z-index: 1;
}
.creature-info-container {
  background-color: #68b893;
  left: 50%;
  right: 0;
  margin: 0;
  top: 45%;
  height: 90%;
  overflow-x: hidden;
  position: fixed;
  width: 70%;
  border-radius: 50px;
  margin-top: 40px;
  font-family: Humming;
  background-image: url('/src/img/creature-background/fish.png');
  background-size: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.creature-header {
  display: flex;
  z-index: 1;
  width: 100%;
  margin-bottom: 20px;
}
.creature-title {
  display: flex;
  text-transform: capitalize;
  text-align: center;
  font-family: FinkHeavy;
  font-size: 60px;
  justify-content: center;
  width: 100%;
}
#creature-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 10%;
  max-width: 30%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  filter: drop-shadow(8px 8px 1px rgba(0, 0, 0, 0.397));
}
.creature-catch-phrase-container {
  text-align: center;
  margin: 0 auto;
  background-color: #f8eebc;
  border-radius: 20px;
  width: 50%;
}
.creature-description {
  display: flex;
  background-color: #fffce9;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 30px;
  padding: 30px;
}
#creature-catch-phrase {
  display: inline;
  padding: 5px;
}
.creature-desc-1,
.creature-desc-2 {
  flex: 1;
}
.creature-desc-1,
.creature-desc-2 {
  text-align: center;
}
.creature-desc-box {
  background-color: white;
  border-radius: 20px;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.441);
}
.creature-desc-title {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
  background-color: lightblue;
}
.creature-desc-content {
  padding: 10px;
}
.availability {
  
}

.x-mark-container {
  position: absolute;
  right: 0%;
  color: red;
  font-size: 40px;
}
.x-mark {
  display: flex;
  width: 90px;
}
@media screen and (max-width: 480px) {
  .creature-title {
    top: 0;
  }
  #creature-img {
    min-width: 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .creature-title {
    top: 0;
  }
  #creature-img {
    width: 30%;
    max-width: 30%;
    min-width: 20%;
  }
}
