.menu-line {
  width: 40px;
  height: 5px;
  background-color: white;
  margin-bottom: 4px;
  border-radius: 1px;
}
.menu {
  display: none;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar a:hover {
  color: #6ba32d;
}
.nav-list .list-item {
  display: inline-block;
  padding: 20px 10px;
}
.navbar {
  background-color: #f7d359;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  margin-bottom: 50px;
  max-height: 140px;
}
#logo {
  min-width: 10em;
  max-width: 10em;
}
.primary-logo {
  width: 100px;
}
.nav-list {
  list-style-type: none;
  width: 90%;
  text-align: center;
  padding-top: 10px;
}
#insect {
  text-decoration: none;
  color: white;
  font-size: 2em;
  margin: 20px;
  cursor: pointer;
  font-family: FinkHeavy;
}
#fish {
  text-decoration: none;
  color: white;
  font-size: 2em;
  margin: 20px;
  cursor: pointer;
  font-family: FinkHeavy;
}
@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }
  .primary-logo {
    margin-top: 10px;
    margin-left: 10px;
  }
  .nav-list .list-item {
    display: block;
    padding: 10px;
    border: 1px solid white;
  }
  .nav-list {
    display: none;
  }
  .menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1000px) {
  #fish,
  #insect {
    text-align: center;
  }
  .navbar {
    background-color: #f7d359;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    margin-bottom: 50px;
  }
  .nav-list {
    display: none;
  }
  .navbar {
    flex-direction: column;
  }
  .nav-list.active {
    display: block;
  }
  .nav-list .list-item {
    display: block;
    padding: 10px;
    width: 100%;
  }
  .nav-list {
    animation-name: slideOut;
  }
  @keyframes slideOut {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-350px);
    }
  }
  .menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
  }
}
