.month {
  text-align: center;
  background-color: #8ecfca;
}
#month-idle {
  font-size: 25px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.1);
}
.month-selector {
  border-radius: 4px;
  background-color: rgba(25, 168, 25, 0.623);
  color: rgb(255, 255, 255);
  margin: 2px;
  font-size: 25px;
  font-style: italic;
}
#month-grid {
  display: grid;
  min-width: 1px;
  max-width: 500px;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px auto;
  border: 25px solid #017c74;
  border-radius: 15px;
  font: FinkHeavy;
  justify-content: center;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #month-grid {
    width: 100%;
  }
}
