@font-face {
  font-family: 'FinkHeavy';
  font-weight: 900;
  font-style: normal;
  src: url(fonts/AC.otf);
}
@font-face {
  font-family: 'Humming';
  font-weight: 900;
  font-style: normal;
  src: url(fonts/Humming.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff9e5;
  display: flex;
  flex-direction: column;
}
.is-visible {
  visibility: visible;
  display: block;
}
.is-hidden {
  visibility: hidden;
  display: none;
}

#collection {
  background-color: #6ba32d;
  margin: 20px;
  border-radius: 10px;
  width: 80px;
  left: 90vw;
  position: fixed;
  text-align: right;
}
.grid-container {
  min-height: 90vh;
}
.icons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  min-width: 90px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.noscroll {
  overflow: hidden;
}

.creature-info-container::-webkit-scrollbar {
  background-color: #00000062;
}
.creature-info-container::-webkit-scrollbar-thumb {
  background-color: rgba(49, 49, 49, 0.377);
  border-radius: 50px;
}

.info-wrapper {
  display: flex;
  justify-content: space-around;
}

/* Villager filter buttons */
.villager-filter-container {
  display: flex;
  justify-content: flex-end;
}
.villager-filter {
  background-color: #96cc39;
  border: 5px solid #6ba32d;
  border-radius: 10px;
  color: white;
  padding: 10px;
}
/* Villager Info  */
.villager-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.villager-image {
  border-radius: 150px;
  position: relative;
  left: 20px;
}
.villager-gender-container {
  color: red;
  border-radius: 40px;
  background-color: #017c74;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}
.villager-gender {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 34%;
  transform: translateY(-29%);
}
.catch-phrase {
  text-align: center;
  display: inline-block;
  width: 30%;
  margin-top: 10px;
  background-color: #fffce9;
  padding: 10px;
  border-radius: 30px;
}
.villager-info-container {
  display: flex;
  background-color: #fffce9;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 30px;
  padding: 30px;
}
.villager-desc-1,
.villager-desc-2 {
  flex: 1;
}
.villager-desc-1 {
  text-align: center;
}
.villager-desc-2 {
  text-align: center;
}
.villager-desc-box {
  background-color: white;
  border-radius: 20px;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.441);
}
.villager-desc-title {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
}
.villager-desc-content {
  padding: 10px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
#month-grid-wrapper {
  display: flex;
  justify-content: center;
}
#month-grid {
  display: grid;
  min-width: 1px;
  max-width: 500px;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px auto;
  border: 25px solid #017c74;
  border-radius: 15px;
  font: FinkHeavy;
  justify-content: center;
}

.month {
  text-align: center;
  background-color: #8ecfca;
}
#month-idle {
  font-size: 25px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.1);
}
.month-selector {
  border-radius: 4px;
  background-color: rgba(25, 168, 25, 0.623);
  color: rgb(255, 255, 255);
  margin: 2px;
  font-size: 25px;
  font-style: italic;
}

.location-wrapper {
  display: inline-block;
  text-align: center;
  font: FinkHeavy;
}
.active-hours {
  background-color: #025e57;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.price-wrapper {
  display: inline-block;
  text-align: center;
}

/* Login/Register */
#register {
  font-family: humming;
  font-size: 15px;
}
.register-wrapper {
  display: flex;
  flex-direction: column;
}
#red {
  color: red;
}
/* Filter Buttons */
#filter-buttons-container {
  width: min-content;
  position: relative;
}
#rn-Button {
  background-color: #96cc39;
  border: 5px solid #6ba32d;
  border-radius: 10px;
  color: white;
  padding: 10px;
}
#rn-Button :hover {
  background-color: red;
}
/* Footer */
#footer {
  background-color: #786951;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
  position: relative;
  margin-top: auto;
  height: 300px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  border: 5px solid rebeccapurple;
  max-width: 80%;
  min-width: 50%;
  margin: 0 auto;
}
.footer-col-1,
.footer-col-2,
.footer-col-3 {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: auto;
  width: 50%;
}
.footer-row-1 {
  background-color: #423a2c;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 10px;
}
.social-icons {
  margin-left: 4px;
  margin-right: 4px;
}
ul {
  position: relative;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: white;
  font-family: humming;
  font-size: 20px;
}
.social-header {
  font-size: 20px;
  font-family: humming;
}
.social-line {
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Timeline Hours */
.timeline-hours-container {
  display: flex;
  background-color: #017c74;
  border: #017c74 solid 10px;
  justify-content: center;
  margin: 0 auto;
  border-radius: 30px;
  flex-wrap: wrap;
  padding-top: 1%;
  padding-bottom: 1%;
  width: min-content;
}
.timeline-am-container {
  display: flex;
}
.timeline-pm-container {
  display: flex;
}
.timeline-hour-inactive {
  background-color: #c48d3f;
  border: #017c74 solid 3px;
  color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  line-height: 250%;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.timeline-hour-active {
  background-color: blue;
  color: white;
  width: 40px;
  height: 40px;
  display: inline-block;
  height: 80%;
  text-align: center;
  margin: auto;
  border: 10px;
  border-right: 1px solid white;
}

.timeline-hour-active-current {
  background-color: blue;
  border: red solid 3px;
  padding: 5px;
  color: white;
  box-sizing: border-box;
}
.timeline-hour-inactive-current {
  width: 50px;
  height: 50px;
  background-color: #c48d3f;
  border: red solid 5px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.timeline-mobile-hours-container {
  display: flex;
  background-color: #017c74;
  margin: 0 auto;
  flex-direction: column;
  max-width: min-content;
}
.timeline-mobile-am-container,
.timeline-mobile-pm-container {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  background-color: #c48d3f;
}
.timeline-mobile-am-container > * {
  margin: 0;
}
.timeline-container {
  display: flex;
  background-color: rebeccapurple;
  margin-top: 10px;
}
.am-pm-container {
  text-align: center;
  margin: 0 auto;
  background-color: red;
  border-radius: 0 10px 10px 0;
}
.timeline-am,
.timeline-pm {
  display: flex;
  margin: 0 auto;
  z-index: 1;
  width: min-content;
  padding: 10px;
}
.timeline-am {
  display: flex;
  flex-direction: column;
}

.tests {
  display: flex;
  margin-top: 25px;
}
/* Login */
.dashboard-wrapper {
  background-color: #f7d359;
}
.login-button {
  font: Humming;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
}
.login-wrapper {
  display: flex;
  flex-direction: flex-end;
  justify-content: flex-end;
}
#login-item {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.login-container {
  background-color: #786951;
  width: min-content;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: fadeIn;
  animation-duration: 0.3s;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  font-family: Humming;
}
.registration {
  display: flex;
  flex-direction: column;
  font-family: Humming;
}
#username,
#password {
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  padding: 5px;
}

#login-submit {
  border-radius: 10px;
  border: none;
}
#login-submit:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.5);
}
.dropdown-container {
  position: relative;
}
.dropdown-menu {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 20px;
}
.dropdown-btn {
}
.dropdown-pad {
  margin-right: 10px;
}
.dropdown-menu .dropdown-btn {
  width: 100px;
  padding: 15px;
  background-color: #96cc39;
  border: 5px solid #6ba32d;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.06);
  font-size: large;
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.dropdown-content::-webkit-scrollbar {
  width: 0;
}

.dropdown-animation {
  position: absolute;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  margin-top: 5px;
  z-index: 1;
  top: 60px;
  right: 20px;
  max-height: 30rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.dropdown-menu {
  left: 0;
}

.dropdown-item:first-child {
  border-top-left-radius: 10px;
}
.dropdown-item:nth-child(12) {
  border-bottom-left-radius: 10px;
}
.dropdown-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropdown-item:hover {
  background-color: rgba(55, 54, 56);
  transition: 150ms ease-in-out;
  color: white;
}

.dropdown-open-enter {
  opacity: 0;
  background-color: red;
}
.dropdown-open-enter-active {
  opacity: 1;
  transform: translateY(400px);
}
.dropdown-open-exit {
  opacity: 1;
}
.dropdown-open-exit-active {
  opacity: 0;
}
.loading {
  display: flex;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading::after {
  content: '';
  width: 50px;
  height: 50px;
  border: 10px solid #dddddd;
  border-top-color: blue;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}
.carousel-container {
  background-color: #fffce9;
  color: white;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
  overflow: hidden;
}
.carousel-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.carousel {
  margin-top: 10px;
  width: 80%;
  height: 150px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.61);
  overflow: scroll;
  white-space: nowrap;
  overflow-y: hidden;
}
.carousel::-webkit-scrollbar {
  visibility: hidden;
}
.carousel .carousel-item {
  display: inline-block;
}
.carousel-item {
  position: relative;
}
@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
.furniture-name {
  margin: 0 auto;

  visibility: hidden;
  position: absolute;
  color: black;
  background-color: white;
  font-family: 'humming';
  text-transform: capitalize;
  border-radius: 10px;
  padding: 4px;
  top: -30%;
  z-index: 1;
}
.carousel-item:hover .furniture-name {
  display: block;
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 0.3s;
}
@media screen and (max-width: 480px) {
  .active {
    display: block;
  }

  .creature-info-container {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 50%;
    border-radius: 0;
  }
  .months {
    margin: 5px;
  }
  .month-grid {
    width: 100%;
  }

  .villager-info-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  @keyframes slideIn {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(200px);
    }
  }
  ul {
    position: relative;
    top: -25px;
    width: 100%;
    background-color: #f5c24c;
    border-radius: 10px;
    animation-name: slideIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  /* Timeline CSS */
  .timeline-hours-container {
    display: none;
  }

  .timeline-hour-active,
  .timeline-hour-inactive,
  .timeline-hour-active-current,
  .timeline-hour-inactive-current {
    text-align: center;
  }

  .creature-info-container {
    border-radius: 0px;
    width: 100%;
  }

  #month-grid {
    width: 100%;
  }
  .creature-info-container {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 50%;
  }

  .acHeader {
  }
  /* Footer */
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  /* Login/Register */
  .login-container {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
  }
  .villager-info-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .creature-info-container {
    width: 100%;
  }
}
