@font-face {
  font-family: 'FinkHeavy';
  font-weight: 900;
  font-style: normal;
  src: url(fonts/AC.otf);
}
@font-face {
  font-family: 'Humming';
  font-weight: 900;
  font-style: normal;
  src: url(fonts/Humming.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff9e5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navbar {
  background-color: #f7d359;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  margin-bottom: 50px;
}

.nav-list {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
.nav-list .list-item {
  display: inline-block;
  padding: 20px 10px;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar a:hover {
  color: #6ba32d;
}

.primary-logo {
  width: 100px;
}

.menu-line {
  width: 40px;
  height: 5px;
  background-color: white;
  margin-bottom: 4px;
  border-radius: 1px;
}
.menu {
  display: none;
}

#logo {
  min-width: 10em;
  max-width: 10em;
}
#insect {
  text-decoration: none;
  color: white;
  font-size: 2em;
  margin: 20px;
  cursor: pointer;
  font-family: FinkHeavy;
}
#fish {
  text-decoration: none;
  color: white;
  font-size: 2em;
  margin: 20px;
  cursor: pointer;
  font-family: FinkHeavy;
}

#collection {
  background-color: #6ba32d;
  margin: 20px;
  border-radius: 10px;
  width: 80px;
  left: 90vw;
  position: fixed;
  text-align: right;
}
.icons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  min-width: 90px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
.creature-container {
  overflow: hidden;
}
.creature-icon {
  width: 90%;
  max-width: 124px;
  padding: 1px;
}
.creature-fish-item {
  display: flex;
  justify-content: center;
  background-color: #017c74;
  border-radius: 10px;
  background-image: url('img/creature-background/fish.png'),
    linear-gradient(180deg, #017c74, #7cc9c3);
  background-size: 25%;
  background-attachment: fixed;
  background-repeat: repeat-x repeat-y;
  font-family: Humming;
}
.creature-insect-item {
  display: flex;
  justify-content: center;
  border: 4px solid #6ba32d;
  background-color: #96cc39;
  border-radius: 10px;
  background-image: url('img/creature-background/insect.png'),
    linear-gradient(180deg, #68b893, #a4d4a2);
  background-size: 100%;
  background-attachment: scroll;
  background-repeat: repeat-x repeat-y;
  font-family: Humming;
}
.creature-blur {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.363);
  overflow: hidden;
  z-index: 1;
}
.creature-catch-phrase-container {
  text-align: center;
  margin: 0 auto;
}
#creature-catch-phrase {
  background-color: #f8eebc;
  width: min-content;
  display: inline;
  padding: 5px;
  border-radius: 20px;
}
.creature-header {
  display: flex;
}
.x-mark-container {
  display: flex;
  margin-left: auto;
  background-color: #f8eebc;
  border-radius: 30px;
  width: min-content;
  top: -20px;
  position: relative;
  height: 60px;
  color: red;
  font-size: 40px;
  align-items: center;
}
.x-mark {
  display: flex;
  width: 60px;
  margin: 0 auto;
}
.creature-info-container {
  background-color: #68b893;
  left: 50%;
  right: 0;
  top: 65%;
  margin: 0;
  position: absolute;
  width: 70%;
  border-radius: 50px;
  margin-top: 40px;
  font-family: Humming;
  background-image: url('/src/img/creature-background/fish.png');
  background-size: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.creature-title {
  display: flex;
  text-transform: capitalize;
  align-items: center;
  text-align: center;
  font-family: FinkHeavy;
  font-size: 60px;
  background-color: #f8eebc;
  width: min-content;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 40px;
  top: -30px;
  left: 3%;
  position: relative;
  white-space: nowrap;
}
/* */

#creature-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 10%;
  max-width: 20%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  filter: drop-shadow(8px 8px 1px rgba(0, 0, 0, 0.397));
}
#nameTag {
  visibility: hidden;
  position: absolute;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 2px;
  text-transform: capitalize;
  font: Humming !important;
  font-size: 20px;
  margin-top: -20px;
  font-size: 15px;
}
.creature-fish-item:hover #nameTag {
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 0.3s;
}
.creature-insect-item:hover #nameTag {
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 0.3s;
}
/* Media block to stop hover event from firing on mobile devices */
@media (hover: none) {
  .creature-fish-item:hover #nameTag {
    visibility: hidden;
  }
}
.info-wrapper {
  display: flex;
  justify-content: space-around;
}
.creature-time-container {
  text-align: center;
  margin: 0 auto;
}
#creature-time {
  display: inline;
  align-items: center;
  width: min-content;
  padding: 10px;
  top: 10px;
  left: 100px;
  position: relative;
  border-radius: 10px;
  background-color: #017c74;
}

/* Villager filter buttons */
.villager-filter-container {
  display: flex;
  justify-content: flex-end;
}
.villager-filter {
  background-color: #96cc39;
  border: 5px solid #6ba32d;
  border-radius: 10px;
  color: white;
  padding: 10px;
}
/* Villager Info  */
.villager-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.villager-image {
  border-radius: 150px;
  position: relative;
  left: 20px;
}
.villager-gender-container {
  color: red;
  border-radius: 40px;
  background-color: #017c74;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}
.villager-gender {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 29%;
  transform: translateY(-29%);
}
.catch-phrase {
  margin-top: 10px;
  background-color: #fffce9;
  padding: 10px;
  border-radius: 30px;
}
.villager-info-container {
  display: flex;
  background-color: #fffce9;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 30px;
  padding: 30px;
}
.villager-desc-1,
.villager-desc-2 {
  flex: 1;
}
.villager-desc-1 {
  text-align: center;
}
.villager-desc-2 {
  text-align: center;
}
.villager-desc-box {
  background-color: white;
  border-radius: 20px;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 10px 10px black;
}
.villager-desc-title {
  background-color: grey;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.villager-desc-content {
  padding: 10px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
#month-grid-wrapper {
  display: flex;
  justify-content: center;
}
#month-grid {
  display: grid;
  min-width: 1px;
  max-width: 500px;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px auto;
  border: 25px solid #f8eebc;
  border-radius: 15px;
  font: FinkHeavy;
  justify-content: center;
}

.month {
  text-align: center;
  border: 1px solid #f8eebc;
  background-color: bisque;
}
#month-idle {
  font-size: 25px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.1);
}
.month-selector {
  border-radius: 4px;
  background-color: rgba(25, 168, 25, 0.623);
  color: rgb(255, 255, 255);
  margin: 2px;
  font-size: 25px;
  font-style: italic;
}

.location-wrapper {
  display: inline-block;
  text-align: center;
  font: FinkHeavy;
}
.active-hours {
  background-color: #025e57;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.price-wrapper {
  display: inline-block;
  text-align: center;
}
.creature-description {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

/* Login/Register */
#register {
  font-family: humming;
  font-size: 15px;
}
.register-wrapper {
  display: flex;
  flex-direction: column;
}
#red {
  color: red;
}
/* Filter Buttons */
#filter-buttons-container {
  width: min-content;
  position: relative;
}
#rn-Button {
  background-color: #96cc39;
  border: 5px solid #6ba32d;
  border-radius: 10px;
  color: white;
  padding: 10px;
}
#rn-Button :hover {
  background-color: red;
}
/* Footer */
#footer {
  background-color: #786951;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
  position: relative;
  margin-top: auto;
  height: 300px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  border: 5px solid rebeccapurple;
  max-width: 80%;
  min-width: 50%;
  margin: 0 auto;
}
.footer-col-1,
.footer-col-2,
.footer-col-3 {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: auto;
  width: 50%;
}
.footer-row-1 {
  background-color: #423a2c;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 10px;
}
.social-icons {
  margin-left: 4px;
  margin-right: 4px;
}
ul {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: white;
  font-family: humming;
  font-size: 20px;
}
.social-header {
  font-size: 20px;
  font-family: humming;
}
.social-line {
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Timeline Hours */
.timeline-hours-container {
  display: flex;
  background-color: #017c74;
  border: #017c74 solid 10px;
  justify-content: center;
  margin: 0 auto;
  border-radius: 30px;
  flex-wrap: wrap;
  padding-top: 1%;
  padding-bottom: 1%;
  width: min-content;
}
.timeline-am-container {
  display: flex;
}
.timeline-pm-container {
  display: flex;
}
.timeline-hour-inactive {
  background-color: #c48d3f;
  border: #017c74 solid 3px;
  color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  line-height: 250%;
}
.timeline-hour-active {
  background-color: blue;
  border: #017c74 solid 3px;
  padding: 5px;
  color: white;
  line-height: 250%;
}
.timeline-hour-active-current {
  background-color: blue;
  border: red solid 3px;

  padding: 5px;
  color: white;
  box-sizing: border-box;
}
.timeline-hour-inactive-current {
  width: 60%;
  background-color: #c48d3f;
  border: red solid 5px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.timeline-mobile-hours-container {
  display: flex;
  background-color: #017c74;
  border: #017c74 solid 10px;
  justify-content: center;
  margin: 0 auto;
  border-radius: 30px;
  padding-top: 1%;
  padding-bottom: 1%;
  flex-direction: column;
  max-width: min-content;
}
.timeline-mobile-am-container,
.timeline-mobile-pm-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  z-index: 2;
}
.am-pm-container {
  text-align: center;
  margin: 0 auto;
}
.timeline-am,
.timeline-pm {
  margin: 0 auto;
  left: 205px;
  bottom: 130px;
  z-index: 1;
  width: min-content;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  background-color: #017c74;
}
.timeline-am {
  display: flex;
  flex-direction: column;
}
.tests {
  display: flex;
  margin-top: 25px;
}
/* Login */
.dashboard-wrapper {
  background-color: #f7d359;
}
.login-button {
  font: Humming;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
}
.login-wrapper {
  display: flex;
  flex-direction: flex-end;
  justify-content: flex-end;
}
#login-item {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.login-container {
  background-color: #786951;
  width: min-content;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: fadeIn;
  animation-duration: 0.3s;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  font-family: Humming;
}
.registration {
  display: flex;
  flex-direction: column;
  font-family: Humming;
}
#username,
#password {
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  padding: 5px;
}

#login-submit {
  border-radius: 10px;
  border: none;
}
#login-submit:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.5);
}
.dropdown-menu {
  width: min-content;
  position: relative;
}

.dropdown-pad {
  margin-right: 10px;
}
.dropdown-menu .dropdown-btn {
  padding: 15px;
  background-color: #96cc39;
  border: 5px solid #6ba32d;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.06);
  font-size: large;
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.dropdown-menu .dropdown-content {
  position: absolute;
  padding: 10px;
  background-color: grey;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  width: inherit;
  text-align: center;
  margin-top: 5px;
}

.dropdown-menu .dropdown-content .dropdown-item {
  padding: 10px;
  width: 100%;
}
.dropdown-item:hover {
  background-color: rgba(55, 54, 56, 0.795);
  transition: 150ms ease-in-out;
  color: white;
}
@media screen and (max-width: 480px) {
  .nav-list .list-item {
    display: block;
    padding: 10px;
    border: 1px solid white;
  }
  .nav-list {
    display: none;
  }
  .navbar {
    flex-direction: column;
  }
  .menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
  }
  .primary-logo {
    margin-top: 10px;
    margin-left: 10px;
  }
  .active {
    display: block;
  }
  .icons {
    grid-template-columns: auto auto auto auto;
  }
  .creature-info-container {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 50%;
    border-radius: 0;
  }
  .months {
    margin: 5px;
  }
  .month-grid {
    width: 100%;
  }
  #creature-img {
    min-width: 90%;
    max-width: 90%;
  }
  .villager-info-container {
    flex-direction: column;
  }
  .creature-title {
    top: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #creature-img {
    width: 30%;
    max-width: 30%;
    min-width: 20%;
  }
  /* Timeline CSS */
  .timeline-hours-container {
    display: none;
  }

  .timeline-hour-active,
  .timeline-hour-inactive,
  .timeline-hour-active-current,
  .timeline-hour-inactive-current {
    text-align: center;
  }

  .creature-info-container {
    border-radius: 0px;
    width: 100%;
  }
  .creature-title {
    top: 0;
  }
  #month-grid {
    width: 100%;
  }
  .creature-info-container {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 50%;
  }
  #creature-img {
    min-width: 20%;
    max-width: 50%;
  }
  .acHeader {
  }
  /* Footer */
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  /* Login/Register */
  .login-container {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
  }
  .villager-info-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .creature-info-container {
    width: 100%;
    top: 20%;
  }
}
