nav {
  background-color: #1a3314;
  margin: 0 auto;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  align-items: center;
}
.navigation li {
  padding: 10px;
  font-size: small;
}
.navigation li:hover {
  color: purple;
}
.title {
  color: #a5d63f;
}
