nav {
  background-color: blue;
  margin: 0 auto;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  align-items: center;
}
.navigation li {
  padding: 10px;
}
.navigation li:hover {
  color: purple;
}
